.filter-popup {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px 16px 0 0;
  max-height: 900px;

  &-header {
    padding: 16px;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;

    .filter-search {
      width: 100%;
    }
  }

  &-content {
    flex: 1;
    padding: 24px 32px;
    background: #fff;
    border-radius: 16px;
    overflow-y: auto;
  }

  &-footer {
    display: flex;
    gap: 12px;
    padding: 12px 24px;

    .reset-btn {
      flex: 1;
      background: #f2f2f2;
      color: #333;
      border: none;
      border-radius: 8px;
      height: 80px;
      font-size: 32px;

      &::after {
        border: none;
      }
    }

    .apply-btn {
      flex: 1;
      background: #262626;
      color: #fff;
      border: none;
      border-radius: 8px;
      height: 80px;
      font-size: 32px;
    }
  }
}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
  border-bottom: 1px solid #eee;

  &-label {
    font-size: 28px;
    color: #666;
    font-weight: 400;
  }

  &-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    color: #333;

    .placeholder {
      color: #333;
    }

    .nut-icon {
      color: #999;
    }

    .nut-input {
      padding: 0;
      border: none;
    }
  }

  .filter-input {
    flex: 1;
    font-size: 28px;
    color: #333;

    &::placeholder {
      color: #bfbfbf;
    }
  }
}
