.safe-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  &.hidden {
    display: none;
  }

  &.graybg {
    background-color: #f5f5f5;
    background-image: none;
  }

  &.whitebg {
    background-color: #fff;
    background-image: none;
  }

  .save-cancel-btn {
    color: #333;
    width: 104px;
    border-color: #f2f2f2;
    background: #f2f2f2;
    padding: 0;
  }

  .safe-nav,
  .safe-content {
    position: relative;
    z-index: 2;
  }

  .safe-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding-left: 24px;
  }

  .safe-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .safe-content-inner {
    flex: 1;
    position: relative;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;

    &.no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .safe-content-footer {
    gap: 24px;
    padding: 4px 24px;
    box-shadow: 0 -18px 46px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    &.footer-visibled {
      padding: 10px 24px;
      background-color: #fff;
      margin-top: 8px;
    }

    &>view,
    &>button {
      flex: 1;
    }

    &>button {
      border-radius: 6px;
    }
  }

  &.safe-layout-custom-nav {
    background-repeat: no-repeat;

    &.index-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(135deg, #ff9a56 0%, #ff7d3b 100%);
    }

    &.minebg {
      background-color: transparent;
      background-size: 100% 100%;
      background-image: url('https://lg5-prod-1314932667.cos.ap-nanjing.myqcloud.com/applet/aplit-app/bg-full.png');
    }
  }
}

.nav-title {
  font-size: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar-left {
  display: flex;
  align-items: center;
  justify-content: center;
}


.common-form-content {
  padding: 140px 64px 0;

  &-div {
    margin-top: 40px;
  }

  &-title {
    font-weight: 600;
    font-size: 48px;
    color: #333;
    padding-bottom: 68px;
  }

  &-button {
    width: calc(100% - 128px) !important;
    height: 94px !important;
    line-height: 94px !important;
    font-size: 28px !important;
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: 8px !important;
    outline: none !important;
    margin: 0 64px !important;

    &::after {
      border: none;
    }

    &:active {
      background-color: #225caf;
    }

    &.disabled {
      pointer-events: none;
      background-color: #BAD7FF;

      &:active {
        background-color: #BAD7FF;
      }
    }
  }

  &-form {
    margin-bottom: 32px;
  }

  &-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 28px;
    padding: 32px 0;
  }
}

.nut-dialog {
  min-height: 290px;

  &-content {
    margin: 40px 0 0;
  }
}

.title-left {
  display: flex;
  font-weight: 600;
  font-size: 30px;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 22px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

// cell前面图标用
.icon-img {
  width: 40px;
  height: 40px;
}

//统一修改islink图标
.nut-icon-right {
  font-size: 20px;
  font-weight: 600;
}

.no-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 40px;
}

.no-more-text {
  font-size: 28px;
  color: #999;
}

.data-empty-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86%;

  .empty-image {
    width: 644px;
    height: 396px;
    margin-bottom: 40px;
  }

  .empty-text {
    font-size: 24px;
    color: #666;
  }
}

.sys-global-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 333;
  background-color: rgba(64, 64, 64, .95);
  padding: 70px 80px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-size: 24px;
  color: #fff;

  &>.nut-icon {
    font-size: 40px;
    color: #fff;
    transform-origin: center center;
  }

  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 332;
    background-color: rgba(0, 0, 0, 0);
  }
}
